.view-header {
    padding: 15px;
}

.view-heading {
    overflow: hidden;
}

.view-title {
    font-size: 2.2rem;
    margin: 0;
    margin-bottom: 5px;
}

.view-breadcrumb {
    font-size: 1.5rem;
}

.panel-basic > .panel-heading {
    background: none;
    /* border: none; */
    padding-top: 15px;
    padding-bottom: 20px;
}

/* .panel-basic > .table {
    border-top: 1px solid #ddd;
} */

.panel-basic > .table {
    font-size: 1.4rem;
}

.panel-basic > .table > tbody > tr > td {
    font-size: 14px;
}

.icon-btn {
    background: none;
    border: none;
}