<section class="view-header">
    <header class="view-heading">
        <h2 class="view-title">Dashboard</h2>
        <small class="view-breadcrumb">Dashboard</small>
    </header>
</section>

<article class="container-fluid view-container">
    <div class="row">
        <!-- BLOCK SECTION -->
        <div class="col-md-3 col-lg-3">
            <section class="panel panel-default stickers">
                <header class="panel-heading">
                    <h4 class="panel-title pull-left"><i class="glyphicon glyphicon-user"></i> Users</h4>
                    <span class="panel-title-count pull-right">1,254</span>
                </header>
                <summary class="panel-body">
                    <p>15% from this yesterday</p>
                </summary>
            </section>
        </div>
        <!-- END OF BLOCK SECTION -->

        <!-- BLOCK SECTION -->
        <div class="col-md-3 col-lg-3">
            <section class="panel panel-default stickers">
                <header class="panel-heading">
                    <h4 class="panel-title pull-left"><i class="glyphicon glyphicon-flash"></i> Visits</h4>
                    <span class="panel-title-count pull-right">2,425</span>
                </header>
                <summary class="panel-body">
                    <p>15% from this yesterday</p>
                </summary>
            </section>
        </div>
        <!-- END OF BLOCK SECTION -->

        <!-- BLOCK SECTION -->
        <div class="col-md-3 col-lg-3">
            <section class="panel panel-default stickers">
                <header class="panel-heading">
                    <h4 class="panel-title pull-left"><i class="glyphicon glyphicon-stats"></i> Total Clicks</h4>
                    <span class="panel-title-count pull-right">1,864</span>
                </header>
                <summary class="panel-body">
                    <p>15% from this yesterday</p>
                </summary>
            </section>
        </div>
        <!-- END OF BLOCK SECTION -->

        <!-- BLOCK SECTION -->
        <div class="col-md-3 col-lg-3">
            <section class="panel panel-default stickers">
                <header class="panel-heading">
                    <h4 class="panel-title pull-left"><i class="glyphicon glyphicon-th-list"></i> Products</h4>
                    <span class="panel-title-count pull-right">845</span>
                </header>
                <summary class="panel-body">
                    <p>15% from this yesterday</p>
                </summary>
            </section>
        </div>
        <!-- END OF BLOCK SECTION -->
    </div>
</article>

<article class="container-fluid view-container">
    <div class="row">
        <div class="col-md-6 col-lg-6">
            <!-- TABLE SECTION -->
            <section class="panel panel-default panel-basic">
                <header class="panel-heading">
                    <h4 class="panel-title">About to Out of Stock</h4>
                </header>
                <!-- <summary class="panel-body"> -->
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Products</th>
                                <th>Stock</th>
                                <th>Last Added</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Ramond T-Shirts</td>
                                <td>80</td>
                                <td>Nov 25, 2017</td>
                                <td>
                                        <button type="button" class="icon-btn"><i class="glyphicon glyphicon-wrench"></i></button>
                                        <button type="button" class="icon-btn"><i class="glyphicon glyphicon-remove"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>Ramond T-Shirts</td>
                                <td>80</td>
                                <td>Nov 25, 2017</td>
                                <td>
                                        <button type="button" class="icon-btn"><i class="glyphicon glyphicon-wrench"></i></button>
                                        <button type="button" class="icon-btn"><i class="glyphicon glyphicon-remove"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>Ramond T-Shirts</td>
                                <td>80</td>
                                <td>Nov 25, 2017</td>
                                <td>
                                        <button type="button" class="icon-btn"><i class="glyphicon glyphicon-wrench"></i></button>
                                        <button type="button" class="icon-btn"><i class="glyphicon glyphicon-remove"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>Ramond T-Shirts</td>
                                <td>80</td>
                                <td>Nov 25, 2017</td>
                                <td>
                                        <button type="button" class="icon-btn"><i class="glyphicon glyphicon-wrench"></i></button>
                                        <button type="button" class="icon-btn"><i class="glyphicon glyphicon-remove"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>Ramond T-Shirts</td>
                                <td>80</td>
                                <td>Nov 25, 2017</td>
                                <td>
                                        <button type="button" class="icon-btn"><i class="glyphicon glyphicon-wrench"></i></button>
                                        <button type="button" class="icon-btn"><i class="glyphicon glyphicon-remove"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>Ramond T-Shirts</td>
                                <td>80</td>
                                <td>Nov 25, 2017</td>
                                <td>
                                        <button type="button" class="icon-btn"><i class="glyphicon glyphicon-wrench"></i></button>
                                        <button type="button" class="icon-btn"><i class="glyphicon glyphicon-remove"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                <!-- </summary> -->
            </section>
            <!-- END OF TABLE SECTION -->
        </div>

        <div class="col-md-6 col-lg-6">
                <!-- TABLE SECTION -->
                <section class="panel panel-default panel-basic">
                    <header class="panel-heading">
                        <h4 class="panel-title">About to Out of Stock</h4>
                    </header>
                    <!-- <summary class="panel-body"> -->
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Products</th>
                                    <th>Stock</th>
                                    <th>Last Added</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Ramond T-Shirts</td>
                                    <td>80</td>
                                    <td>Nov 25, 2017</td>
                                    <td>
                                            <button type="button" class="icon-btn"><i class="glyphicon glyphicon-wrench"></i></button>
                                            <button type="button" class="icon-btn"><i class="glyphicon glyphicon-remove"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Ramond T-Shirts</td>
                                    <td>80</td>
                                    <td>Nov 25, 2017</td>
                                    <td>
                                            <button type="button" class="icon-btn"><i class="glyphicon glyphicon-wrench"></i></button>
                                            <button type="button" class="icon-btn"><i class="glyphicon glyphicon-remove"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Ramond T-Shirts</td>
                                    <td>80</td>
                                    <td>Nov 25, 2017</td>
                                    <td>
                                            <button type="button" class="icon-btn"><i class="glyphicon glyphicon-wrench"></i></button>
                                            <button type="button" class="icon-btn"><i class="glyphicon glyphicon-remove"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Ramond T-Shirts</td>
                                    <td>80</td>
                                    <td>Nov 25, 2017</td>
                                    <td>
                                            <button type="button" class="icon-btn"><i class="glyphicon glyphicon-wrench"></i></button>
                                            <button type="button" class="icon-btn"><i class="glyphicon glyphicon-remove"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Ramond T-Shirts</td>
                                    <td>80</td>
                                    <td>Nov 25, 2017</td>
                                    <td>
                                            <button type="button" class="icon-btn"><i class="glyphicon glyphicon-wrench"></i></button>
                                            <button type="button" class="icon-btn"><i class="glyphicon glyphicon-remove"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Ramond T-Shirts</td>
                                    <td>80</td>
                                    <td>Nov 25, 2017</td>
                                    <td>
                                            <button type="button" class="icon-btn"><i class="glyphicon glyphicon-wrench"></i></button>
                                            <button type="button" class="icon-btn"><i class="glyphicon glyphicon-remove"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    <!-- </summary> -->
                </section>
                <!-- END OF TABLE SECTION -->
            </div>
    </div>
</article>